body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chatbot {
    position: fixed;
    width: 95vw;
    height: 95vh;
    background: #444;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.chatbot header {
    position: relative;
    text-align: center;
    color: #8a8a8a;
    border-bottom: 1px solid;
}

.upload-section {
    display: none; /* Initially hidden */
    align-items: center;
    background-color: #444;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}
  
.file-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.file-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: white;
}
  
.file-input {
    display: none;
}
  
.file-name {
    color: #ccc;
}

.remove-file-btn {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
  
.cross-icon {
    width: 24px;
    height: 24px;
    fill: #f15b5b;
}

.chatbot .message-input-container {
    position: absolute;
    bottom: 0;
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-color: #444;
    border-top: 1px solid #ccc;
    margin-left: 20;
    margin-right: 20;
    padding: 20px 20px 20px 0px;
}

.message-input-container .user-input-section {
    width: 100%;
    display: flex;
}

.user-input-section textarea {
    height: 55px;
    width: 100%;
    background-color: #333;
    color: #fff;
}

.user-input-section span {
    align-items: center;
    display: flex;
}

.btn-send {
    background-color: transparent;
    cursor: pointer;
    color: white;
    padding-left: 20px;
}

.upload-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
}

#responseContainer {
    display: flex;
    height: 60%;
    margin: 20px 20px 20px 20px;
    text-align: left;
}

.response {
    background-color: #444;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.message-input-container span {
    color: white;
    cursor: pointer;
}

.message-input-container textarea {
    resize: none;
}

.message-input-container .btn-send {
    pointer-events: none;
    color: rgb(59, 59, 59);
}

.message-input-container textarea:valid ~ .btn-send  {
    pointer-events: visible;
    color: white
}